body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.css-1vdl86r-MuiTypography-root {
  color: orange !important;
}

.css-k7ykxg-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  margin: 0px !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px; /* Slim scrollbar */
  min-height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: white; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6479cc; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded edges */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: white; /* Thumb hover color */
}

.carousel .thumb.selected {
  border: none !important;
}

.carousel .thumbs {
  margin-left: 50px;
  margin-right: 50px;
}

.carousel .slider-wrapper {
  direction: ltr !important;
}

.carousel .carousel-status {
  direction: ltr !important;
}

.css-15rfbsb-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: #009f7f !important
}

.css-15rfbsb-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: #009f7f !important
}

.slick-prev:before {
  color: #6479cc !important;
}

.slick-next:before {
  color: #6479cc !important;
}

.css-ay3cf-MuiPaper-root-MuiAppBar-root {
  box-shadow: none !important;
}
