body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.css-1vdl86r-MuiTypography-root {
  color: orange !important;
}

.css-k7ykxg-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  margin: 0px !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px; /* Slim scrollbar */
  min-height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: white; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #000; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded edges */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: white; /* Thumb hover color */
}

.carousel .thumb.selected {
  border: none !important;
}
