name: Deploy HM-Web App

on:
  push:
    branches: [ main ]

env:
  SERVER_USER: hmawani
  SERVER_IP: ${{ secrets.SERVER_IP }}
  APP_DIR: /home/hmawani/app/hm-web
  BUILD_DIR="$APP_DIR/build"
  DEPLOY_DIR="/var/www/hmawani-web"
  YARN="/home/hmawani/.asdf/shims/yarn"
  TEMP_DIR="/tmp/hmawani-web-$(date +%s)"


jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.HOSTINGER_SERVER_PRIVATE_KEY }}

      - name: Deploy to Server
        run: |
          ssh -o StrictHostKeyChecking=no ${SERVER_USER}@${SERVER_IP} "
            export GIT_SSH_COMMAND='ssh -i /home/hmawani/.ssh/nabeegh_github' &&
            cd ${APP_DIR} &&
            git pull origin main &&
            $YARN install --frozen-lockfile &&
            $YARN build &&
            cp -r "$BUILD_DIR" "$TEMP_DIR" &&
            mv "$TEMP_DIR" "$DEPLOY_DIR" &&
            echo 'Deployment successful!'"

